*.egg
*.egg-info
.eggs/
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
*.pid
.*.swp
.coverage
.coverage.*
*.livetrip.sublime-project
*.livetrip.sublime-workspace
.idea/
local.ini
static/app/
venv/
test/
alembic/versions/
*.sublime-workspace
*.sublime-project
